.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-areas:
    'main-title main-title main-title main-title'
    'frontend frontend frontend frontend'
    'react html css javascript'
    'backend backend backend backend'
    '. python flask .'
    'tech-next tech-next tech-next tech-next'
    'node typescript tailwind .';
}

.skills-main-title {
  grid-area: main-title;
  text-align: center;
}

.frontend-title {
  grid-area: frontend;
  text-align: center;
}

.backend-title {
  grid-area: backend;
  text-align: center;
}

.tech-next-title {
  grid-area: tech-next;
  text-align: center;
}

.programming-image {
  height: 100%;
  width: 100%;
}
