body {
  font-family: 'Anton', sans-serif;
  font-family: 'Press Start 2P', cursive;
  font-family: 'VT323', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
